<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.bdqn.dao.UserDao">
	<resultMap id="userMap" type="com.bdqn.entity.User">
		<id property="id" column="id" />
		<result property="usercode" column="userCode" />
		<result property="username" column="userName" />
		<result property="userpassword" column="userPassword" />
		<result property="gender" column="gender" />
		<result property="birthday" column="birthday" />
		<result property="phone" column="phone" />
		<result property="address" column="address" />
		<result property="userrole" column="userRole" />
		<result property="papernum" column="paperNum" />
		<result property="createdby" column="createdBy" />
		<result property="creationdate" column="creationDate" />
		<result property="modifyby" column="modifyBy" />
		<result property="modifydate" column="modifyDate" />
	</resultMap>
	
	<!-- 根据Id查询 -->
	<select id="getById" parameterType="int" resultMap="userMap">
		select * from t_user where id=#{id}
	</select>
	<!-- 根据userName查询 -->
	<select id="getByUsername" parameterType="string" resultMap="userMap">
		select * from t_user where userName=#{username}
	</select>
	<!-- 查询所有 -->
	<select id="getAll" resultMap="userMap">
		select * from t_user 
	</select>

	
	<!-- 查询 -->
	<select id="searchPage" parameterType="map" resultMap="userMap">
		select * from t_user t 
		order by id DESC 
		LIMIT #{pageStart},#{pageSize}
	</select>
	
	<!-- 查询总数 -->
	<select id="searchCount" parameterType="map" resultType="Long">
		select count(1) from  t_user t 
	</select>

	<!-- 保存 -->
	<insert id="save" parameterType="com.bdqn.entity.User" useGeneratedKeys="true" keyProperty="id">
		insert into t_user (
			id,userCode,userName,userPassword,gender,birthday,phone,address,userRole,paperNum,createdBy,creationDate,modifyBy,modifyDate)
		values (
			#{id},#{usercode},#{username},#{userpassword},#{gender},#{birthday},#{phone},#{address},#{userrole},#{papernum},#{createdby},#{creationdate},#{modifyby},#{modifydate})
	</insert>
	
	<!-- 更新 -->
	<update id="update" parameterType="com.bdqn.entity.User">
		update t_user t set 
			t.id=#{id} 
			<if test="id != null">
			,id=#{id}
			</if>
			<if test="usercode != null and usercode != '' ">
			,userCode=#{usercode}
			</if>
			<if test="username != null and username != '' ">
			,userName=#{username}
			</if>
			<if test="userpassword != null and userpassword != '' ">
			,userPassword=#{userpassword}
			</if>
			<if test="gender != null">
			,gender=#{gender}
			</if>
			<if test="birthday != null">
			,birthday=#{birthday}
			</if>
			<if test="phone != null and phone != '' ">
			,phone=#{phone}
			</if>
			<if test="address != null and address != '' ">
			,address=#{address}
			</if>
			<if test="userrole != null">
			,userRole=#{userrole}
			</if>
			<if test="papernum != null">
			,paperNum=#{papernum}
			</if>
			<if test="createdby != null and createdby != '' ">
			,createdBy=#{createdby}
			</if>
			<if test="creationdate != null">
			,creationDate=#{creationdate}
			</if>
			<if test="modifyby != null and modifyby != '' ">
			,modifyBy=#{modifyby}
			</if>
			<if test="modifydate != null">
			,modifyDate=#{modifydate}
			</if>
		where t.id=#{id}
	</update>
	
	<!-- 删除 -->
	<delete id="delete" parameterType="long">
	     update t_user set deleted=0 where id=#{id}
	</delete>

</mapper>
